<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.extrakt.castcontrol"
    android:versionCode="1"
    android:versionName="1.0" >

    <android.support.v7.app.MediaRouteButton
    android:id="@+id/media_route_button"
    android:mediaRouteTypes="user"
    android:layout_width="wrap_content"
    android:layout_height="wrap_content"
    android:visibility="visible"
    />
    
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.extrakt.castcontrol.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
